* {
  margin: 0;
  padding: 0;
}

.header-container{
  height: 80px;
  display: flex;
  color: black;
  justify-content: space-between;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.269);
  padding: 10px;
  padding-bottom: 25px;
  border-bottom: solid;
  border-color:  rgba(26, 125, 127, 0.564);
  border-width: 1px;
  margin-top: auto;
}

.header-container button{
  font-size: 100%;
  font-weight: 500;
  color: rgb(26,126,127);
  text-transform: none;
  padding: 0;
  margin: 10px;
  margin-bottom: -10px;
  margin-top: auto;
}

.page-title {
  margin: 0;
  padding: 0;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 400%;
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif; 
  color: rgb(26,126,127)
}

.page-background{
  background: rgb(26,126,127);
  background: linear-gradient(0deg, rgba(26,126,127,1) 0%, rgba(80,186,147,1) 32%, rgba(117,212,137,1) 100%);
}


/* CSS FOR HOMEPAGE */
.home-picture{
  width: 100vw;
  height: 400px;
  background-image: url('https://ncas.ac.uk/app/uploads/2022/08/DCMEX-Cloud-Formation-1280px.jpg');
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows:  auto;
  align-content: center;
  justify-items: center;
  text-align: center;
}

.goal-float {
  font-size: 250%;
  font-weight: 700;
  color: white;
  padding: 35px;
}

.goal-float p{
  font-size: 70%;
  font-weight: 500;
}

#goal-float-main{
  font-size: 350%;
}